.headerContainer {
    width: 100%;
    height: 10vh;
    background-color: rgb(161, 106, 211);
    display: flex;
    flex-direction: row;
    align-items: center;

}

.header {
    margin-left: 4%;
    font-size: x-large;
    font-weight: 700;
    color: beige;
}

.bodys {
    width: 100%;
    display: flex;
    flex-direction: column;
}